@charset "utf-8";

/*CSS @font-face syntax : 샘플 소스*/
@font-face {
  font-family: 'FontName';
  font-style: normal;
  font-weight: 400;
  src: url('webfont.eot'); /* IE9+ Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   /* src: local('webfont'), <- IE9+이상은 용량이 조금 크지만 가독성이 좋은 WOFF를 다운받도록 한다. */
       url('webfont.woff2') format('woff2'), /* Super modern browsers */
       url('webfont.woff') format('woff'), /* Modern browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#FontName') format('svg'); /* Legacy iOS */
}

/*------------------------------------------
   한글 폰트
-------------------------------------------*/
/* NanumGothic */
@font-face {
	font-family:'NanumGothic';
	font-weight:400;
	src: local('NanumGothic'),
	   url('../Font/NanumGothic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	   url('../Font/NanumGothic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family:'NanumGothic';
	font-weight:700;
	src: local('NanumGothicBold'), local('NanumGothic Bold'), local('NanumGothic-Bold'),
	   url('../Font/NanumGothicBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	   url('../Font/NanumGothicBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family:'NanumGothic';
	font-weight:800;
	src: local('NanumGothicExtraBold'), local('NanumGothic-ExtraBold'), local('NanumGothic ExtraBold'), 
	   url('../Font/NanumGothicExtraBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	   url('../Font/NanumGothicExtraBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* NotoSansKR */
@font-face {
	font-family:'NotoSansKR';
	font-weight:300;
	src: local('NotoSansKRLight'), local('NotoSansKR Light'), local('NotoSansKR-Light'), 
	   url('../Font/NotoSansKR-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	   url('../Font/NotoSansKR-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family:'NotoSansKR';
	font-weight:400;
	src: local('NotoSansKR'),
	   url('../Font/NotoSansKR-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	   url('../Font/NotoSansKR-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family:'NotoSansKR';
	font-weight:700;
	src: local('NotoSansKRMedium'), local('NotoSansKR Medium'), local('NotoSansKR-Medium'),
	   url('../Font/NotoSansKR-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	   url('../Font/NotoSansKR-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family:'NotoSansKR';
	font-weight:800;
	src: local('NotoSansKRBold'), local('NotoSansKR Bold'), local('NotoSansKR-Bold'), 
	   url('../Font/NotoSansKR-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	   url('../Font/NotoSansKR-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*------------------------------------------
   영문 폰트
-------------------------------------------*/

/* Roboto */
@font-face {
	font-family:'Roboto';
	font-weight:400;
	src: local('RobotoRegular'), 
		 url(../Font/RobotoRegular.eot),
	     url(../Font/RobotoRegular.eot?#iefix) format('embedded-opentype'), url(../Font/RobotoRegular.woff) format('woff');
}
@font-face {
	font-family:'Roboto';
	font-weight:700;
	src: local('RobotoMedium'), 
	     url(../Font/RobotoMedium.eot),
	     url(../Font/RobotoMedium.eot?#iefix) format('embedded-opentype'), url(../Font/RobotoMedium.woff) format('woff');
}
@font-face {
	font-family:'Roboto';
	font-weight:800;
	src: local('RobotoBold'), 
	     url(../Font/RobotoBold.eot),
	     url(../Font/RobotoBold.eot?#iefix) format('embedded-opentype'), url(../Font/RobotoBold.woff) format('woff');
}
